body {
    background-color: #000;
    color: #fff;
}

.main {
    margin-top: 2rem;
}

textarea {
    background-color: rgb(20, 20, 20);
    border: none;
    color: #fff;
    padding: 1rem;
    border-radius: 15px;
    outline: none !important;
    resize: none;
}

textarea:focus,
textarea:active {
    border: none !important;
}

.header img {
    height: 5rem;
    width: 8rem;
}

.main-content {
    /* background-color: rgb(20, 20, 20); */
    border: 2px solid rgb(20, 20, 20);
    border-radius: 15px;
    padding: 3rem 2rem 3rem 2rem;
    margin-bottom: 4rem;
}

.main-content-header {
    position: relative;
}

.main-content-header h6 {
    color: #38a0f0;
}

.main-content-header p {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.main-content-header small {
    position: absolute;
    top: -35px;
    left: 0;
}

.main-content-header small a {
    text-decoration: none;
    color: #fff;
}

.main-content-body {
    margin-top: 2rem;
}

.main-content-body button {
    background-color: #38a0f0;
    color: #fff;
    font-weight: 600;
    border: none;
    border-radius: 15px;
    padding: .6rem 2.5rem .8rem 2.5rem;
    margin-top: 1rem;
}

.main-content-body button:hover {
    transform: translateY(-5px);
    transition: 300ms;
}